<div>
    Hey, Welcome to our website.
    <br>-------------------------------------------------------<br>
    Before you can use the functionalities of our platform, you will need to register with us.<br><br>
    <br>
    <p class=center>
        Let's start with some introductory details :D
    </p>
    <br>
    Your good name? &nbsp;
    <input type=text placeholder="Please enter your name" /><br><br>
    How can we contact you ? &nbsp;
    <input type=text placeholder="Enter Phone number" />&nbsp;
    Got an email address ? &nbsp;
    <input type=text placeholder="Enter your e-mail" /><br>
    <br>
    <p class=center>
        Now onto Address. 
    </p>
    <br>
    Please provide your local address! &nbsp;
    <input type=text placeholder="Line 1" />&nbsp;
    <input type=text placeholder="Line 2" /><br><br>
    City &nbsp;
    <input type=text placeholder="City" />&nbsp;
    State &nbsp;
    <input type=text placeholder="State" />&nbsp;
    Pincode &nbsp;
    <input type=text placeholder="Pincode" /><br>
    <br>
    <p class=center>
        Provide us your Land Details 
    </p>
    <br>
    Area &nbsp;
    <input type=text placeholder="Area" />&nbsp;
    Address &nbsp;
    <input type=text placeholder="Address" />&nbsp;
    Pincode  &nbsp;
    <input type=text placeholder="Pincode" /><br>
    <br>
    <p class=center>
        Provide us bank Details
    </p>
    <br>
    Account No. &nbsp;
    <input type=text placeholder="Acc No" />&nbsp;
    IFSC &nbsp;
    <input type=text placeholder="IFSC" />&nbsp;<br>
    <br>
    <p class=center>
        Provide us your document numbers
    </p>
    <br>
    Aadhar  &nbsp;
    <input type=text placeholder="Aadhar" />&nbsp;
    PAN &nbsp;
    <input type=text placeholder="PAN" />&nbsp;
    Certificate  &nbsp;
    <input type=text placeholder="Certificate" /><br>
    <br>
    <p class=center>
        Choose a strong password to safegaurd your account
    </p>
    <br>
    Password  &nbsp;
    <input type=password placeholder="Password" />&nbsp;
    Re-enter Password &nbsp;
    <input type=password placeholder="Re-enter Password"/>&nbsp; <br>
    <br>
    <button type=button class=center>Submit</button>
    <br>

</div>
