<form>  
    <div class="shift_middle">
      <label for="email"><b>Email</b></label><br>
      <input class="padding_textbox" type="text" placeholder="Enter Email" name="email" required>
  <br><br>
      <label  for="psw"><b>Password</b></label><br>
      <input class="padding_textbox" type="password" placeholder="Enter Password" name="psw" required><br><br>
        <button class="loginbutton"  type="button">Login</button>
      <label class="marginforforgotpassword">Forgot Password?</label>
    <br><br><br>
    <div>
      <label >New User?Register Here</label>
      <label class="marginforquestion">Are you a Farmer or Bidder?</label>
    </div>
    </div>
  </form>
